<div class="row">
  <div class="col-5">
    <%= form_with model: @tour_base do |form| %>
      <div>
        <%= form.label :name,"Название",class:"form-label",required:true %>
        <%= form.text_field :name,class:"form-control" + " is-invalid"*@tour_base.errors.full_messages_for(:name).length %>
        <% puts @tour_base.errors.full_messages_for(:name).each do |message| %>
          <div class="invalid-feedback"><%= message %></div>
        <% end %>
      </div>
      <br/>
      <div>
        <%= form.label :description,"Описание",class:"form-label",required:true %>
        <%= form.text_area :description,class:"form-control" + " is-invalid"*@tour_base.errors.full_messages_for(:description).length %>
        <% puts @tour_base.errors.full_messages_for(:name).each do |message| %>
          <div class="invalid-feedback"><%= message %></div>
        <% end %>
      </div>
      <br/>
      <div>
        <%= form.collection_select :region_id, Region.all, :id, :name,{},{class: "form-select"} %>
      </div>
      <br/>
      <div>
        <%= form.collection_select :city_id, City.all, :id, :name,{:include_blank => "Вне города"},
                                   {class: "form-select"} %>
      </div>
      <br/>
      <div>
        <%= form.submit "Сохранить",class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>