<ul class="list-group">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td class="table__actions">
        <%= link_to edit_country_path(country),class:"btn btn-outline-warning" do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= link_to country_path(country),method: :delete,class:"btn btn-outline-danger",remote: true do %>
          <i class="bi bi-trash-fill"></i>
        <% end %>
        <%= link_to country_regions_path(country),class:"btn btn-outline-primary" do %>
          Регионы
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><a class="btn btn-outline-success" href="<%= new_country_path %>"><i class="bi bi-plus"></i></a></td>
    </tr>
    </tfoot>
  </table>

</ul>
